<nav class="navbar navbar-expand-lg navbar-light bg-white ecommerce-header">
  <div class="container">
    <a class="navbar-brand" href="#">
        <img src="assets/images/download.jpeg" alt="Ecommerce Banner" class="img-fluid home-banner rounded shadow" />
      Simple E-commerce
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav align-items-center">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link position-relative" routerLink="/cart">
            <i class="fa fa-shopping-cart"></i>
            <span class="cart-badge">2</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/account">
            <i class="fa fa-user"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>