<footer class="footer bg-light ecommerce-footer py-4 mt-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-4 text-center text-md-start mb-2 mb-md-0">
        <a class="footer-brand" href="#">
        <img src="assets/images/download.jpeg" alt="Ecommerce Banner" class="img-fluid home-banner rounded shadow"  />
          Simple E-commerce
        </a>
      </div>
    
      <div class="col-md-4 text-center text-md-end">
    
        <div class="footer-copy mt-2">
          &copy; 2025 Simple E-commerce. All rights reserved.
        </div>
      </div>
    </div>
  </div>
</footer>